<div class="row" ng-app="searchApp" ng-controller="SearchController as vm">
  <div class="col-md-8 col-md-offset-2">
    <p id="notice"><%= notice %></p>
    <div class="search_input">
      <h1>Students</h1>
      <div class="row">
        <div class="form-group col-md-4">
          <input type="text" placeholder="Search" ng-model="SearchText" class="form-control" />
        </div>
      </div>
    </div>
    <div class="table-responsive">
      <table class="table table-hover table-striped jambo_table">
        <thead>
          <tr>
            <th>ID</th>
            <th>Identity Card</th>
            <th>Name</th>
            <th>Date of birth</th>
            <th>Place</th>
            <th>Class</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="student in vm.students | filter:SearchText">
            <td>{{student.id}}</td>
            <td>{{student.id_number}}</td>
            <td>{{student.name}}</td>
            <td>{{student.date_of_birth | date: "yyyy-MM-dd"}}</td>
            <td>{{student.place_birth}}</td>
            <td>{{student.in_class}}</td>
        </tbody>
      </table>
    </div>
  </div>
</div>

